In [1]:
import pandas as pd

In [3]:
orders_df=pd.read_csv('/content/List_of_Orders.csv')
order_details_df=pd.read_csv('/content/Order_Details.csv')

In [4]:
merged_df=pd.merge(orders_df, order_details_df, on='Order ID', how='inner')

In [5]:
total_sales_by_category = merged_df.groupby('Category')['Amount'].sum().reset_index()

In [6]:
total_sales_by_category = total_sales_by_category.sort_values(by='Amount', ascending=False)

In [7]:
print(total_sales_by_category)

      Category    Amount
1  Electronics  165267.0
0     Clothing  139054.0
2    Furniture  127181.0

Calculate total profit for each category

In [8]:
total_profit_by_category = merged_df.groupby('Category')['Profit'].sum().reset_index()

Calculate total amount for each category

In [9]:
total_amount_by_category = merged_df.groupby('Category')['Amount'].sum().reset_index()

Merge the total profit and total amount by category

In [10]:
category_profit_and_amount = pd.merge(total_profit_by_category, total_amount_by_category, on='Category')

In [11]:
orders_per_category = merged_df.groupby('Category')['Order ID'].nunique().reset_index()
category_profit_and_amount = pd.merge(category_profit_and_amount, orders_per_category, on='Category')

In [12]:
category_profit_and_amount['Average Profit Per Order'] = category_profit_and_amount['Profit'] / category_profit_and_amount['Order ID']

In [13]:
category_profit_and_amount['Profit Margin (%)'] = (category_profit_and_amount['Profit'] / category_profit_and_amount['Amount']) * 100

In [14]:
print(category_profit_and_amount[['Category', 'Average Profit Per Order', 'Profit Margin (%)']])

      Category  Average Profit Per Order  Profit Margin (%)
0     Clothing                 28.404580           8.027817
1  Electronics                 51.441176           6.349725
2    Furniture                 12.354839           1.806874

In [15]:
top_performing = category_profit_and_amount.sort_values(by=['Average Profit Per Order', 'Profit Margin (%)'], ascending=False).head(3)
underperforming = category_profit_and_amount.sort_values(by=['Average Profit Per Order', 'Profit Margin (%)'], ascending=True).head(3)

In [17]:
print("Top-Performing Categories:")
print(top_performing[['Category', 'Average Profit Per Order', 'Profit Margin (%)']])

Top-Performing Categories:
      Category  Average Profit Per Order  Profit Margin (%)
1  Electronics                 51.441176           6.349725
0     Clothing                 28.404580           8.027817
2    Furniture                 12.354839           1.806874

In [18]:
print("\nUnderperforming Categories:")
print(underperforming[['Category', 'Average Profit Per Order', 'Profit Margin (%)']])

Underperforming Categories:
      Category  Average Profit Per Order  Profit Margin (%)
2    Furniture                 12.354839           1.806874
0     Clothing                 28.404580           8.027817
1  Electronics                 51.441176           6.349725

In [19]:
import pandas as pd

In [52]:
sales_target = pd.read_csv('/content/Sales_target_DD2E9B96A0.csv')

In [59]:
furniture_df = sales_target[sales_target['Category'] == 'Furniture']

In [60]:
print(furniture_df.head(10))

  Month of Order Date   Category   Target
0              Apr-18  Furniture  10400.0
1              May-18  Furniture  10500.0
2              Jun-18  Furniture  10600.0
3              Jul-18  Furniture  10800.0
4              Aug-18  Furniture  10900.0
5              Sep-18  Furniture  11000.0
6              Oct-18  Furniture  11100.0
7              Nov-18  Furniture  11300.0
8              Dec-18  Furniture  11400.0
9              Jan-19  Furniture  11500.0

In [61]:
furniture_df['Month of Order Date'] = pd.to_datetime(furniture_df['Month of Order Date'], format='%b-%y')
furniture_df= furniture_df.sort_values(by='Month of Order Date')

<ipython-input-61-84fa83b7033b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  furniture_df['Month of Order Date'] = pd.to_datetime(furniture_df['Month of Order Date'], format='%b-%y')

In [62]:
print(furniture_df.head(10))

  Month of Order Date   Category   Target
0          2018-04-01  Furniture  10400.0
1          2018-05-01  Furniture  10500.0
2          2018-06-01  Furniture  10600.0
3          2018-07-01  Furniture  10800.0
4          2018-08-01  Furniture  10900.0
5          2018-09-01  Furniture  11000.0
6          2018-10-01  Furniture  11100.0
7          2018-11-01  Furniture  11300.0
8          2018-12-01  Furniture  11400.0
9          2019-01-01  Furniture  11500.0

In [68]:
furniture_df['Target Sales Change (%)'] = furniture_df['Target'].pct_change() * 100

In [70]:
print(furniture_df[['Month of Order Date', 'Target', 'Target Sales Change (%)']])

   Month of Order Date   Target  Target Sales Change (%)
0           2018-04-01  10400.0                      NaN
1           2018-05-01  10500.0                 0.961538
2           2018-06-01  10600.0                 0.952381
3           2018-07-01  10800.0                 1.886792
4           2018-08-01  10900.0                 0.925926
5           2018-09-01  11000.0                 0.917431
6           2018-10-01  11100.0                 0.909091
7           2018-11-01  11300.0                 1.801802
8           2018-12-01  11400.0                 0.884956
9           2019-01-01  11500.0                 0.877193
10          2019-02-01  11600.0                 0.869565
11          2019-03-01  11800.0                 1.724138

In [71]:
std_dev = furniture_df['Target Sales Change (%)'].std()

In [73]:
significant_fluctuations = furniture_df[
    (furniture_df['Target Sales Change (%)'] > (furniture_df['Target Sales Change (%)'].mean() + std_dev)) |
    (furniture_df['Target Sales Change (%)'] < (furniture_df['Target Sales Change (%)'].mean() - std_dev))
]

In [75]:
print(significant_fluctuations[['Month of Order Date', 'Target', 'Target Sales Change (%)']])

   Month of Order Date   Target  Target Sales Change (%)
3           2018-07-01  10800.0                 1.886792
7           2018-11-01  11300.0                 1.801802
11          2019-03-01  11800.0                 1.724138

In [76]:
threshold = 10

In [77]:
significant_fluctuations = furniture_df[
    (furniture_df['Target Sales Change (%)'] > threshold) |
    (furniture_df['Target Sales Change (%)'] < -threshold)
]

In [79]:
print(significant_fluctuations[['Month of Order Date', 'Target', 'Target Sales Change (%)']])

Empty DataFrame
Columns: [Month of Order Date, Target, Target Sales Change (%)]
Index: []

In [80]:
orders_df = pd.read_csv('/content/List_of_Orders.csv')

In [81]:
order_count_by_state = orders_df.groupby('State')['Order ID'].count().reset_index(name='Order Count')

In [84]:
top_5_states = order_count_by_state.sort_values(by='Order Count', ascending=False).head(5)

In [85]:
print(top_5_states)

             State  Order Count
10  Madhya Pradesh          101
11     Maharashtra           90
14       Rajasthan           32
4          Gujarat           27
13          Punjab           25

In [88]:
state_sales_profit = merged_df.groupby('State').agg(
    total_sales=('Amount', 'sum'),
    avg_profit=('Profit', 'mean')
).reset_index()

In [89]:
top_5_sales_profit = pd.merge(top_5_states, state_sales_profit, on='State')

In [90]:
print(top_5_sales_profit[['State', 'Order Count', 'total_sales', 'avg_profit']])

            State  Order Count  total_sales  avg_profit
0  Madhya Pradesh          101     105140.0   16.326471
1     Maharashtra           90      95348.0   21.296552
2       Rajasthan           32      21149.0   16.986486
3         Gujarat           27      21058.0    5.344828
4          Punjab           25      16786.0  -10.150000

In [91]:
# Calculate profit margin for each state
state_sales_profit['Profit Margin (%)'] = (state_sales_profit['avg_profit'] / state_sales_profit['total_sales']) * 100

# Merge with the top 5 states for further analysis
top_5_sales_profit['Profit Margin (%)'] = (top_5_sales_profit['avg_profit'] / top_5_sales_profit['total_sales']) * 100

# Compare regions that are high in sales but low in profit margin
high_sales_low_profit = state_sales_profit[state_sales_profit['Profit Margin (%)'] < 10].sort_values(by='total_sales', ascending=False)

# Focus on regions with the highest sales but lowest profit margins
print(high_sales_low_profit[['State', 'total_sales', 'avg_profit', 'Profit Margin (%)']])

                State  total_sales  avg_profit  Profit Margin (%)
10     Madhya Pradesh     105140.0   16.326471           0.015528
11        Maharashtra      95348.0   21.296552           0.022336
2               Delhi      22531.0   40.364865           0.179153
17      Uttar Pradesh      22359.0   47.602941           0.212903
14          Rajasthan      21149.0   16.986486           0.080318
4             Gujarat      21058.0    5.344828           0.025381
13             Punjab      16786.0  -10.150000          -0.060467
8           Karnataka      15058.0   11.944444           0.079323
18        West Bengal      14086.0   39.682540           0.281716
9             Kerala       13459.0   41.577778           0.308922
0      Andhra Pradesh      13256.0  -11.809524          -0.089088
1               Bihar      12943.0   -5.177419          -0.040002
12           Nagaland      11903.0    3.288889           0.027631
7   Jammu and Kashmir      10829.0    0.163265           0.001508
5             Haryana       8863.0   50.961538           0.574992
6    Himachal Pradesh       8666.0   22.620690           0.261028
3                 Goa       6705.0    8.604651           0.128332
16         Tamil Nadu       6087.0  -88.640000          -1.456218
15             Sikkim       5276.0   16.708333           0.316686